body {
    background-color: #c2cad6 !important; /* Бекграунд страницы */
}

html, body {

    height: 100%; /* Для прижатия футера к низу */
}

.container {
    min-height: 100%; /* Для прижатия футера к низу */
}

.navbar-spacer {
    height: 75px; /* Размер навбара */
    clear: both;
}

.footer-spacer {
    height: 120px; /* Размер футера */
    clear: both;
}

footer {
    background-color: #d1d7e0;
    height: 120px; /* Размер футера */
    margin-top: -120px;
}


/*** Config ***/
/* block */
.block {
	padding: 5px;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 3px;
}

.information-block p {
	margin-bottom: 3px;
}

/* user info */

.avatar img {
	border-radius: 7px;
	margin-bottom: 15px;
}

/* note */

.avatar-small {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    float: left;
}

.note-header {
	margin: 0 0 3px 0 !important;
	height: 60px;
}

.note-locate button {
	float: right;
}

.note-stats a {
	margin-right: 15px;
	float: right;
	font-size: 26px;
}

.auth-body, .house-edit-body, .house-page-body, .diary-edit-body, .diary-content, .info-block {
    margin-bottom: 3px !important;
}

.search-header, .rate-header {
    margin-bottom: 10px !important;
}

.navbar {
    z-index: 1;
    top: 0;
    color: white;
}

.file-upload label {
    cursor: pointer;
    width: 100%;
    color: white;
}



.file-label {
    display: none;
}

.house-image {
	height: 100px !important;
}

.map-modal {
    width: 530px;
}